// Global Config

// Font Types

// Font Weights

$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;

// Base Colours

$white: #fff;
$black: #000;
$banner: #333645;

// Font Colours

// Grid

// Color Shades
//$color-shades : (
//
//    light       : lighten(20%)
//)

// Breakpoints