// Global Config

// Font Types

// Font Weights

$font-weight--thin       : 100;
$font-weight--light      : 200;
$font-weight--medium     : 400;
$font-weight--bold       : 600;
$font-weight--ultra-bold : 800;

// Base Colours

$white: #fff;
$black: #000;
$background: #323544;

// Font Colours

// Font Shades


// Grid

// Breakpoints

$breakpoint-sm      : 768px;
$breakpoint-md      : 992px;
$breakpoint-lg      : 1260px;