@mixin service-colour($color) {
  a {
    background-color: $color;
    color: $white;
  }

  i {
    background-color: $color;
    color: $white;
  }

  &:hover {
    background-color: $color;

    a {
      color: $color;
      background-color: $white;
    }

    i {
      background-color: $white;
      color: $color;
    }
  }
}

.service-item {
    &.con { @include service-colour(#67809f); }
    &.it  { @include service-colour(#4183d7); }
    &.dig { @include service-colour(#2ecc71); }
    &.tel { @include service-colour(#d64541); }
    &.web { @include service-colour(#926fb1); }
    &.cyb { @include service-colour(#f62459); }
    &.dev { @include service-colour(#ce4125); }
}
