// Hover elements

%on-hover {
    &:hover {
        text-decoration: underline;
    }
}

%about-btn {
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 10px 30px;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 0;
}