*, :after, :before {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    font-size: 1rem;
    margin: 0;
    letter-spacing: .4px;
    font-family: Poppins, sans-serif;
}

p {
    line-height: 1.875rem;
    margin-bottom: 25px;

    margin: 0 0 10px;
}


.h1 {
    font-size: 2.25rem;
    font-weight: $font-weight--bold;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    a {
        height: auto;
        flex-direction: row;
    }
    div {
        flex: 1;
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: 768px) {
        width: 750px;
    }

    @media (min-width: 992px) {
        width: 970px;
    }

    @media (min-width: 1260px) {
        width: 1200px;
    }
}

