*, :after, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
}

body {
    font-size: $font-size-md;
    letter-spacing: .4px;
    font-family: Poppins, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

p {
    line-height: 1.875rem;
    margin-bottom: 25px;

    margin: 0 0 10px;
}


.h1 {
    font-size: 2.25rem;
    font-weight: $font-weight--bold;
}

h4 {
    font-size: $font-size-md;
}

.row {
    display: flex;
    justify-content: center;
    height: auto;
}

.float-left {
    float: left;
    h2 {
        font-weight: $font-weight--bold
    }
}
.float-right {
    float: right;
}


.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: 768px) {
        width: 750px;
    }

    @media (min-width: 992px) {
        width: 970px;
    }

    @media (min-width: 1260px) {
        width: 1200px;
    }
}

.stickyy {
    position: relative;
    z-index: 1000;
}

.stickyy.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.stickyy.sticky.show {
    transform: translateY(0);
}