* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

.h1 {
    font-size: 2.25rem;
    font-weight: $font-weight--bold;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: 768px) {
        width: 750px;
    }

    @media (min-width: 992px) {
        width: 970px;
    }

    @media (min-width: 1260px) {
        width: 1200px;
    }
}