*, :after, :before {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    font-size: $font-size-md;
    margin: 0;
    letter-spacing: .4px;
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
}

p {
    line-height: 1.875rem;
    margin-bottom: 25px;

    margin: 0 0 10px;
}


.h1 {
    font-size: 2.25rem;
    font-weight: $font-weight--bold;
}

h4 {
    font-size: $font-size-md;
}

.row {
    display: flex;
    justify-content: center;
    height: auto;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}


.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: 768px) {
        width: 750px;
    }

    @media (min-width: 992px) {
        width: 970px;
    }

    @media (min-width: 1260px) {
        width: 1200px;
    }
}

