#about {
    background-color: $background;
    color: $white;
    padding: 30px 0 0;
    position:  relative;

    a {
        text-decoration: none;
        color: $white;
    }
    .about-menu {
        flex: 100%;
    }
    .about-text p {
        a {
            text-decoration: none;
            color: $white;
            @extend %on-hover;
        }
    }
    .quote {
        font-weight: $font-weight--bold;
    }
    span {

        a {
            text-decoration: none;
            @extend %on-hover;
        }
    }
}

.about-btn a {
    background-color: darken($background, 8%);
    margin: 10px;
    @extend %about-btn;
    &:hover {
        background-color: darken($background, 15%)
    }
}
.review-btn a {
    @extend %about-btn;
}
.review-btn {
    .google-btn {
        background-color: #4387f6;
        &:hover {
        background-color: darken(#4387f6, 5%);
    }
    }      
    .trust-btn {
        background-color: #009b69;
        &:hover {
        background-color: darken(#009b69, 5%);
        }
    }
}

.quote-author {
    font-weight: $font-weight--bold;
    color: lighten($black, 75%)
}

.p-bold {
    font-weight: $font-weight--bold;
}

.stars {
    color: orange;
    font-size: 50px;
    margin-bottom: 25px;
}

@media (max-width: 535px) { 
    .about-btn a:first-child {
        margin-bottom: 17px !important;
    }
    .review-btn a:first-child {
        margin-bottom: 17px !important;
    }
}

