#about {
    background-color: $background;
    color: $white;
    padding: 30px 0 0;
    position:  relative;

    a {
        text-decoration: none;
        color: $white;
    }
    .about-row {
        display: flex;
        flex-wrap: wrap;
    }

        .about-menu {
            flex: 100%;
        }
    p {
        a {
            text-decoration: none;
            color: $white;
            @extend %on-hover;
        }
    }
    .quote {
        font-weight: $font-weight--bold;
    }
    span {

        a {
            text-decoration: none;
            @extend %on-hover;
        }
    }
}

.about-btn a {
    background-color: darken($background, 8%);
    @extend %about-btn;
    &:hover {
        background-color: darken($background, 15%)
    }
}
.review-btn a {
    @extend %about-btn;
}
.review-btn {
    .google-btn {
        background-color: #4387f6;
    }
    .trust-btn {
        background-color: #009b69;
    }
}

@media (max-width: 535px) { 
    .about-btn a:first-child {
        margin-bottom: 17px !important;
    }
    .review-btn a:first-child {
        margin-bottom: 17px !important;
    }
}

