#about {
    background-color: $background;
    color: $white;
    padding: 50px 15px;
    position:  relative;

    a {
        text-decoration: none;
        color: $white;
    }
    .about-menu {
        flex: 100%;
    }
    .about-text p {
        a {
            text-decoration: none;
            color: $white;
            @extend %on-hover;
        }
    }
    .quote {
        font-weight: $font-weight--bold;
        font-size: 1.3rem;
    }
    span {

        a {
            text-decoration: none;
            @extend %on-hover;
        }
    }
}
.no-select {
    user-select: none;
}

.about-btn a {
    background-color: darken($background, 8%);
    @extend %about-btn;
    &:hover {
        background-color: darken($background, 15%)
    }
}
.review-btn a {
    @extend %about-btn;
}
.review-btn {
    display: flex;
    flex: 1;
    white-space: nowrap;

    .google-btn {
        background-color: #4387f6;
        margin-right: 8px;
        &:hover {
        background-color: darken(#4387f6, 5%);
    }
    }      
    .trust-btn {
        background-color: #009b69;
        &:hover {
        background-color: darken(#009b69, 5%);
        }
    }
}

.quote-author {
    font-weight: $font-weight--bold;
    color: lighten($black, 75%);
    font-size: 1.1rem;
}

.p-bold {
    font-weight: $font-weight--bold;
}

.stars {
    color: orange;
    font-size: 50px;
    margin-bottom: 25px;
}


.column {
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: $breakpoint-md) {
    .column {
        width: 50%;
    }
}

@media (max-width: 535px) { 
    .about-btn a:first-child {
        margin-bottom: 17px !important;
    }
    .review-btn a:first-child {
        margin-bottom: 17px !important;
    }
}

@media (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}
