.actions {
    display: flex;
    height: 56px;
    line-height: 46px;
    font-size: 1.125rem;
    float: left;
    gap: 1rem;
    flex: 1;
    a {
        border: 1px solid transparent;
        border-radius: 3px;
        padding: 5px 15px;
        font-weight: $font-weight--medium;
        color: $white;
    }
    .banner-logo {
        flex: 0 0 auto;
    }
    .sup {
        background-color: #4183d7;
        border-color: #4183d7;
    }
    .con {
        background-color:#999aa2;
        border-color: #999aa2;
    }
    .ban-btn {
        display: flex;
        flex: 0 0 auto;
    }
    .search {
        flex: 1;

        form {
            width: 100%;
            padding: 5px 15px;
        }
        input {
            width: 40%;
            padding: 0.5rem;
        }
    }
    span {
        background-color: #999aa2;
    }
}

header {
    .inner {
        padding: 20px 0;
    }
}
