footer {
    background-color: $background;
    color: $white;
    padding: 30px 0 0;
    position: relative;

    .footer-logo {
        vertical-align: middle;
    }

    .footer-row {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .row {
            gap: 10px;
        }

        .footer-menu {
            flex: 100%;
            margin-bottom: 30px;
            font-size: $font-size-sm;
            line-height: 1.375rem;
            text-align: left;

            @media (min-width: #{$breakpoint-sm}) {
                flex: 50%;
            }

            @media (min-width: #{$breakpoint-md}) {
                flex: 25%;
            }

            @media (min-width: #{$breakpoint-lg}) {
                margin-bottom: 40px;
            }

            h4 {
                text-transform: uppercase;
                font-size: $font-size-md;
                margin-bottom: 26px;
            }
            
            ul {
                list-style: none;
            }
            a {
                text-decoration: none;
                color: $white;
                @extend %on-hover;
            }
        }
    }
}
.footer-footer {
    padding: 5px 0 10px;
    width: 100%;
    background-color: darken($background,5%);
    font-size: $font-size-sm;
    color: $white;

    display: flex;
    gap: 1rem;
    align-items: center;
    a {
        color: $white;
        text-decoration: none;
        @extend %on-hover
    }
    ul {
        list-style: none;
        margin: -2px 0 0 0;
        padding: 0;
        gap: .5rem;
    }
}
.footer-logo {
    a {
        background-color: darken($background, 5%);
    }
}