footer {
    background-color: $background;
    color: $white;
    padding: 30px 0 0;
    position: relative;

    .footer-logo {
        vertical-align: mmiddle;
    }

    .footer-row {
        display: flex;
        flex-wrap: wrap;

        .footer-menu {
            flex: 100%;
            margin-bottom: 30px;
            font-size: .8125rem;
            line-height: 1.375rem;
            text-align: left;

            @media (min-width: #{$breakpoint-sm}) {
                flex: 50%;
            }

            @media (min-width: #{$breakpoint-md}) {
                flex: 25%;
            }

            @media (min-width: #{$breakpoint-lg}) {
                margin-bottom: 40px;
            }

            h4 {
                text-transform: uppercase;
                font-size: 1rem;
                margin-bottom: 26px;
            }
            
            ul {
                list-style: none;
            }
            a {
                text-decoration: none;
                color: $white;
                @extend %on-hover;
            }
        }
    }
}