.main-navigation {
    display: flex;
    background-color: #333645;
    flex-direction: column;
    color: $white;

    ul {
        display: flex;
        width: 100%;
    }
    li {
        flex: 1;
        display: flex;

        a {
            flex: 1;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        h4 {
            text-align: center;
        }
        &:hover {
            background-color: red;
        }
    }
}

.nav-dropdown {
    @include dropdown;
    display: none;
    width: 100%;

}
