.latest-news {
    h3, i {
        @extend %on-hover;
    }
    .gap {
        padding-top: 50px;
    }
    .section {
        padding-top: 15px;
        padding-bottom: 50px;
    }
    img {
        width: 350px;
        height: 200px;
    }
    .news-item {
        padding: 0 15px;
    }
    a {
        background-color: #f7b322;
        color: $white;
        font-size: $font-size-md;
        padding: 5px 15px;
        border-radius: 3px;
        line-height:  35px;
        text-decoration: none;
    }
}
