.latest-news {
    .blue {
        background-color: #4183d7;
    }
    .gap {
        padding-top: 50px;
    }
    .section {
        user-select: none;
        text-decoration: none;
        padding-top: 15px;
        padding-bottom: 50px;
    }
    img {
        display: block;
        width: 400px;
        height: 225px;
    }
    .news-item {
        padding: 0 15px;
    }
    a {
        display: inline-block;
        background-color: #f7b322;
        color: $white;
        font-size: $font-size-md;
        padding: 5px 15px;
        border-radius: 3px;
        text-transform: uppercase;
        line-height:  35px;
        text-decoration: none;
    }
    p {
        font-size: $font-size-sm;
        margin-bottom: 25px;
    }
}
.news-container {
    h2 {
        font-size: 2.25rem;
    }
    h3 {
        font-size: 1.625rem;
    }
    display: flex;
    justify-content: space-between;
    h3, i {
        @extend %on-hover;
    }
}

.block {
    border-radius: 0 0 3px 3px;
    border: 1px solid #ccc;
    padding: 30px;

    .border {
    text-align: left;
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ccc;


        .text {
            display: flex;
            white-space: nowrap;
            flex-direction: column;
            padding-left: 20px;

            h3, h4 {
                margin: 0;
                font-size: .875rem;
            }
            h4 {
                text-align: left;
                margin: 2px;
            }
            h3 {
                font-weight: $font-weight--bold
            }
        }
    }
    
    img {
        overflow: hidden;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.user, .ai, .tech {
    transition: transform 0.5s ease;
    &:hover {
        transform: translateY(-20px)
    }
}


@media (max-width: 535px) {
    .news-item {
        margin-top: 25px;
    }
}