.partners {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 50px 0;
}
.track {
    display: flex;
    width: max-content;
    animation: scroll 120s linear infinite;
    
    img {
    height: auto;
    margin-right: 20px;
    user-select: none;

    filter : grayscale(100%);
    &:hover {
        filter: grayscale(0%);
    }
}
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}