.service-container {
    justify-content: center;
    h3 {
        margin-left: 20px;
        margin-bottom: 28px;
        @extend %on-hover;
    }
    a {
        display: inline-block;
        color: $white;
        font-size: $font-size-md;
        padding: 5px 15px;
        border-radius: 3px;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 35px;
    }
}

.section {
    margin-top: 30px;
}

.service-item  {
    transition: transform 0.5s ease;
    &:hover {
        transform: translateY(-20px)
    }

    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;

    a, i {
        display: flex;
        justify-content: center;
    }
    h4, h3 {
        white-space: nowrap;
    }
}

@media (max-width: 535px) {
    .services {
        h3, h4 {
            white-space: normal;
        }
        .row {
            flex-wrap: wrap;
        }
    }
}

