.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;

    background-color: #333645;
    transition: transform 0.4s ease;
    transform: translateX(100%);

    z-index: 9999;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;

    overflow-x: hidden;
    overflow-y: auto;

    a {
        display: flex;
        align-items: center;
        width: 100%;
        color: $white;
        text-decoration: none;
    }

    .fa-angles-right {
        font-size: 7px;
    }

    a:visited {
        color: $white;
    }

    h4 {
        padding: 20px;
        font-weight: $font-weight--medium;
        font-size: $font-size-md;
    }

    li {
        font-size: $font-size-sm;
        background-color: rgba(0, 0, 0, .25);
        padding: 15px 20px;

        i {
            padding-right: 15px;
        }
    }

    li::marker {
        content: "";
    }

    li, h4 {
        border-bottom: 1px solid hsla(0, 0%, 100%, .05);
        border-top: 1px solid hsla(0, 0%, 100%, .05);
    }

}

.sidebar > div:has(li:hover) h4{
    background-color: lighten(#333645, 10%);
}

.sidebar.active {
    transform: translateX(0);
}

.page-content {
    transition: transform 0.4s ease;
}

.page-content.shifted {
    transform: translateX(-350px);
}